<div class="page-header">
  <h2>Lodges Listing</h2>
</div>
<%= form_for(:search, url: search_admin_lodges_path) do |f| %>
<%= render partial: 'tabbed_nav', locals: {:active => :index, :f => f} %>
<%= render partial: 'table', locals: {:f => f} %>
<% end %>
