<ul class="nav nav-tabs">
  <li <%= active == :index ? 'class=active': '' %>>
    <%= link_to 'Listing', lodges_path %>
  </li>
  <li <%= active == :new ? 'class=active': '' %>>
    <%= link_to 'New', new_lodge_path %>
  </li>
</ul>